# Copy to env/.env.dev (or another name) and fill with your values.

PROJECT_ID=
REGION=
ENV=

AR_HOST=
AR_REPO=

LANDING_BUCKET=
BRONZE_BUCKET=
QUARANTINE_BUCKET=
SILVER_BUCKET=

BQ_META_DATASET=

INGESTION_API_URL=
INGESTION_ROUTER_SERVICE=

